body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
header {
    background-color: black;
    color: lightgreen; 
    padding: 10px; 
    font-size: 16pt;
}
footer {
    background-color: lightblue; 
    color: brown; 
    font-family: italic; 
    font-size: 14pt; 
    margin: 0px; 
    padding: 10px;
}